.min-vh-90 {
    min-height: 90vh!important;
}
.min-vh-87 {
    min-height: 87vh!important;
}
.min-vh-82 {
    min-height: 82vh!important;
}
.mrb-90vh {
	margin-bottom: 90vh; 
}

#navbar-management{
	background-color: #184471;
	a{
		color: #ffffff;
	}
	button{
		color: black;
		background-color: #ffffff
	}
}
